//Colors
$bg-color: #333;
$text-color: #fefefe;

//Typography
$main-font: 'Montserrat', sans-serif;

@use './partials/variables' as *;

//@fa-font-path: '../webfonts';
//@import 'fortawesome/fontawesome-free/scss/fontawesome.scss';
//@import 'fortawesome/fontawesome-free/scss/solid.scss';

@import 'bootstrap/scss/bootstrap';

.route-link-active, .active{
    color: #ff0000 !important;
}